@page "/add-new";

@inject IBookRepo Repo
@inject NavigationManager Navigation

<PageTitle>
    Add New Book
</PageTitle>

<div class="row justify-content-center">
    <div class="col-6">
       <BookForm isEditMode="false" OnValidBookSubmit="AddBook" />
    </div>
</div>

@code {

    private async Task AddBook(Book book)
    {
        await Repo.AddAsync(book);
        Navigation.NavigateTo("/");
    }
}
